.playlist{
    display: flex;
    width: 95%;
    margin: auto;
    background-color: azure;
    border-radius: 5px;
}

.playlist__video{
    width: 75%;
    padding: 10px;
}

.playlist__video__title{
    font-size: 24px;
    font-weight: 500;
    padding: 5px 0;
}

.playlist__list{
    padding: 10px;
    width: 25%;
}

.playListItem{
    display: flex;
    height: 60px;
    width: 100%;
    padding-bottom: 5px;
}

.playListItem__thumbnil{
    width:120px;
    flex-shrink: 0;
    height: 100%;
    background-color: blue;
    margin-right: 5px;
}

.playListItem__title{
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: 600;
}

.playListItem--playing{
    padding: 4px;
    margin: 4px 0;
    border-radius: 5px;
    color: white;
    background: gray;
}

@media only screen and (max-width: 1000px) {
    .playlist{
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: auto;
        background-color: azure;
        border-radius: 5px;
    }
    .playlist__list{
        padding: 10px;
        width: 100%;
    }
    .playlist__video{
        width: 95%;
        padding: 10px;
    }
    
  }

